*{
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(Assets/neonandn.png), url('Assets/bg1.png');
    background-position: center;
    background-repeat: no-repeat;
}

header{
    position: fixed;
    display: flex;
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.left-logo{
    position: absolute;
    left: 7%;
    font-size: 30px;
    font-family: "Josefin Sans", sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.nav-list{
    position: absolute;
    display: flex;
    left: 20%;
    list-style-type: none;
}

.nav-list a{
    color: #FF4655;
    margin-right: 60px;
    font-size: 20px;
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
}

.duelist-logo{
        position: absolute;
        right: 7%;
        width: 50px;
        height: 50px;
        background-image: url('Assets/duelistLogo.png');
        background-size: contain;
        background-repeat: no-repeat;    
        display: block;
}

.main-text{
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    top: 38%;
    left: 7%;
}
.main-text h3{
    display: block;
    font-size: 20px;
    color: #FF4655;
    margin-top: 0;
}
.main-text h1{
    display: block;
    font-size: 140px;
    font-weight: bolder;
    color: #ffffff;
    margin: 0;
}
.main-text h4{
    display: block;
    font-size: 20px;
    color: #FF4655;
    margin: 0;
}

.abilities-buttons {
    position: absolute;
    display: flex;
    bottom: 40%;
    right: 58%;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.abilities-buttons button{
    background-color: transparent;
    border: none;
}

.abilities-buttons img{
    width: 50px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.abilities-buttons img:hover {
    transform: scale(1.2);
}

/* ------------------------- */
.modal{
    background-color: hsl(0, 0%, 0%);
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}
.modal.open{
    opacity: 1;
    z-index: 1001;
}

.inner-modal{
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    padding: 15px 25px;
    text-align: center;
    width: 380px;
}

.inner-modal h2{
    margin: 20px 0;
}

.inner-modal p{
    line-height: 24px;
    margin: 20px 20px;
}