*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: "Josefin Sans", sans-serif;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(Assets/neonandn.png), url('Assets/bg1.png');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
}

header{
    position: fixed;
    display: flex;
    top: 0; 
    left: 0; 
    width: 100%;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.left-logo{
    position: absolute;
    left: 3%;
    font-size: 30px;
    font-family: "Josefin Sans", sans-serif;
    color: #000000;
    font-weight: 700;
}

.nav-list{
    position: absolute;
    display: flex;
    left: 20%;
    list-style-type: none;
}

.nav-list a{
    color: #ff4655;
    margin-right: 60px;
    font-size: 20px;
    font-family: "Source Code Pro", monospace;
    font-weight: 600;
}

.duelist-logo{
        position: absolute;
        right: 3%;
        width: 50px;
        height: 50px;
        background-image: url('Assets/duelistLogo.png');
        background-size: contain;
        background-repeat: no-repeat;    
        display: block;
}

/* ------------------------- */
.main-text{
    font-family: "Josefin Sans", sans-serif;
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: left;
    top: 30%;
    left: 7%;
    margin: 0;  /* Asegúrate de que no haya margen */
    padding: 0; /* Elimina el padding si existe */
}

.main-text h2{
    display: block;
    font-size: 20px;
    color: #FF4655;
    margin: 20px 0;
}

.main-text h1{
    display: block;
    font-size: 140px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}

.main-text h3{
    display: block;
    font-size: 20px;
    color: #FF4655;
    margin: 10px 0;
}

.main-text p{
    display: block;
    font-size: 20px;
    color: #ffffff;
    margin: 0;
    width: 40%;
    text-align: justify;
    margin-top: 4%;
}

/* ------------------------- */
.abilities-buttons {
    position: absolute;
    display: flex;
    top: 29%;
    right: 58%;
    flex-direction: column;
    gap: 20px;
}

.abilities-buttons button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.abilities-buttons img{
    width: 50px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.abilities-buttons img:hover {
    transform: scale(1.2);
}

/* ------------------------- */
.modal{
    display: none;
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-family: "Source Code Pro", monospace;
    background-color: #00000080;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.open{
    opacity: 1;
    z-index: 9999;
}

.closeModal {
    position: absolute;
    bottom: 150px;
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.inner-modal{
    background-color: #f3f3f3;
    border-radius: 20px;
    padding: 15px 25px;
    text-align: center;
    width: 380px;
}

.inner-modal h2{
    margin: 20px 0;
}

.inner-modal p{
    line-height: 24px;
    margin: 20px 20px;
}

.modalLogo{
    cursor: pointer;
}

.videos{
    width: 100%;
    height: auto;
    border-radius: 20px;
}